* {
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(90deg, rgb(31, 31, 193), rgb(41, 188, 36));
    user-select: none;
   display: flex;
   justify-content: center;
   align-items: center;
  
     /* background-color: rgba(11, 11,146, .3); */
}


.tetris {
    background-color: rgb(86, 86, 220);
    padding: 0.5vh;
    border-radius: 0.3vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);     
}

.tetris div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(208, 138, 138, 0.205);
    border-radius: 0.3vh;
    box-shadow: 
        inset 2px 2px 2px rgba(184, 146, 146, 0.271),
        inset -2px -2px 2px rgba(22, 87, 217, 0.271);
}

.tetris .O {
    background: rgb(219, 222, 34);
}

.tetris .L {
    background: rgb(6, 150, 9);
}
.tetris .J {
    background: rgb(242, 120, 38);
}
.tetris .S {
    background: rgb(149, 21, 155);
}
.tetris .Z {
    background: rgb(84, 210, 238);
}
.tetris .T {
    background: rgb(246, 59, 84);
}
.tetris .I {
    background: rgb(246, 124, 221);
}