* {
    margin: 0;
}

body {
    height: 100vh;
    height: 100svh;
    background: linear-gradient(90deg, rgb(31, 31, 193), rgb(41, 188, 36));
    user-select: none;
   display: flex;
   justify-content: center;
   align-items: center;
  position: relative;
     /* background-color: rgba(11, 11,146, .3); */
}


.tetris {
    background-color: rgb(86, 86, 220);
    padding: 0.5vh;
    border-radius: 0.3vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);     
}

.tetris div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(208, 138, 138, 0.205);
    border-radius: 0.3vh;
    box-shadow: 
        inset 2px 2px 2px rgba(59, 54, 54, 0.271),
        inset -2px -2px 2px rgba(12, 49, 123, 0.271);
}

.tetris .O {
    background: rgb(219, 222, 34);
}

.tetris .L {
    background: rgb(6, 150, 9);
}
.tetris .J {
    background: rgb(242, 120, 38);
}
.tetris .S {
    background: rgb(149, 21, 155);
}
.tetris .Z {
    background: rgb(84, 210, 238);
}
.tetris .T {
    background: rgb(246, 59, 84);
}
.tetris .I {
    background: rgb(246, 124, 221);
}

.score {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #e3df65;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.controlls {
     position: absolute;
    bottom: 20%;
    right: 5%;
    width: 20%;
    height: 30%;
    font-size: 16px;
    font-weight: 600;
    color: rgb(252, 177, 36);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, 40px);
}

.controlls__item {
    display: flex;
    align-items: center;   
    padding-left: 10px;    
}

.controlls__item img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.left-arrow {
    transform: rotate(90deg);
}

.right-arrow {
    transform: rotate(-90deg);
}



